div{
    .noticias-container{
        width: 70%;
        
    }
    .form-container{
        width: 30%;
        div{
            .login{
                font-family: "WoW";
                color: nth($colores,3);
                text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
                1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
                
                border-right:nth($colores,4) solid 2px;
                border-left:nth($colores,4) solid 2px;
                border-bottom:nth($colores,4) solid 2px;
                
                background-color: nth($colores,1);
                padding: 10px;
                border-radius: 20px;  
                margin-top: 20px;     
                      
                

            }
        }
    }
}