div{
    .noticias-container{
        .servers{
            padding: 20px;
            div{
                div{
                    .imagen{
                        width: 80%;
                        height: 180px;
                        margin-left: 20px;

                    }
                    .players-container{
                        color: nth($colores,1);
                        text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
                1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
                        font-family: WoW2;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 20px;
                        justify-content: space-between;
                        .iconos{
                            width: 30%;
                            height: 100px;

                        }
                    }
                }
            }
        }
    }
}