table{
    
    .ranking{
        color: nth($colores,1);
        text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
                1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
        font-family: WoW2;
            
        td{
            .icono-rank{
                width: 20%;
                height: 60px;
            }
        }
    }
}