@font-face {
    font-family: WoW2;
    src: url(../fonts/LifeCraft_Font.ttf);
}
@font-face {
    font-family: WoW;
    src: url(../fonts/Warcraft-Yj2j.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    
}
h1{
    font-family: "WoW2";
    color:#653E8C;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
                1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    width: 50%;
    font-size: 100px;
    

}
h2{
    font-family: "WoW2";
    color: eth($colores,1);
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
                1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    width: 100%;
    font-size: eth($font-size,3);;
    border: eth($colores,4) 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: eth($colores,3);
}
h5{    
    font-family: "WoW2";
    color: eth($colores,1);
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
                1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    width: 100%;
    font-size: eth($font-size,2);
    border:eth($colores,1) solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: eth($colores,3);

}
body{
    background-image: url(../imagenes/fondo_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.button{
    color: eth($colores,1);
    border: 3px solid eth($colores,4);

}
h3{
    font-family: WoW2;
    margin-left: 80px;
    color: eth($colores,1);
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;

}
h5::selection{
    background-color: eth($colores,2);
    color: eth($colores,1);
}
h2::selection{
    background-color: eth($colores,2);
    color: eth($colores,1);
}
a:hover{
    color: eth($colores,4)!important;
    
}
.boton{
    display: flex;
    justify-content: center;
    
    background-color:eth($colores,1);
    color: nth($colores,3);
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
                1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}


a{
    color: nth($colores,3);
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
                1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    text-decoration: none;
    
}
a:hover{
    color: white;
}

th{
    font-family: "WoW2";
        color: #A9D9D9;
        text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
                1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}
@media (max-width: 576px){
   .secciones-container{
    font-size: 10px;
   }
    h5{
        font-family: "WoW2";
        
        width: 100%;
        font-size: 15px;
        border:#402759 solid 2px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
}